
<div class="row" class="allBanner">
  <div class="col">
    <img src="../../../assets/img/moviedb logo.png" alt="logo">
  </div>

  <div class="col" class="title">
    <p >The Movie DB</p>
  </div>

  <div class="col">
    <div class="row">
      <ul>
        <li>Home</li>
        <li>Populars</li>
        <li>Gender</li>
      </ul>
    </div>
  </div>

  <div class="col" class="search">
    <input type="text" autocomplete="on" placeholder="Search...">
    <button>Search</button>
  </div>

</div>

